django
djangorestframework
django-cors-headers
altgraph
comtypes
docopt
easydict
future
json5
numpy
pefile
pqi
pyinstaller
pyinstaller-hooks-contrib
pyperclip
pypiwin32
PyQt5
PyQt5-Qt5
PyQt5-sip
pywin32
pywin32-ctypes
uiautomation
pyautogui